# test and visualize: https://zed0.co.uk/clang-format-configurator/
---
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseCRLF: false
UseTab: Always
IndentAccessModifiers: true
AccessModifierOffset: -2
...
