# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
examples/build/
.clangd/
examples/gauss/gauss
examples/gauss/flint.jpg
examples/dl_test_1/dl_test
experiment/
# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/test
test/test_gradients
test/benchmark
libflint.a
compile_commands.json
build/*
debug/*
paper/*
#vscode
.cache
