@font-face {
  font-family: FiraCode;
  src: url(FiraCode-Regular.ttf);
}
* {
  box-sizing: border-box;
}
html {
  font-family: FiraCode; 
}
img {
  max-width: 100%;
}
button {
	padding: 5px 5px;
	background: #F0F0F0;
	border-radius: 5px;
	border: 1px solid #505050;
	cursor: pointer;
	transition: all 0.25s;
}
button:hover {
	border-color: #5080A0;
}
button:active {
	background: #E0E0F0;
}
/* header */
#header-bar{
    background-color: #20252F;
    height: 3.5em;
    position: fixed;
    top: 0px;
    color: white;
    padding-top: 5px;
    font-size: 1em;
    left: 0px;
    width: 100%;
    z-index: 15;
    white-space: nowrap;
}
#header-bar a{
    color: #E5EAF0;
    cursor: pointer;
    text-decoration: none;
}
#header-bar a:hover{
    color: #A0D9FF;
}
#header-bar .item{
    margin-left: 20px;
    display:inline-block;
    white-space: nowrap;
}
@media only screen and (max-width: 50em){
  #header-bar .item{
    margin-left: 0;
    display:inline-block;
    white-space: nowrap;
  }
}
#header-bar .selected{
    color: #80C0FF;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* footer */
#footer{
  background-color: #000A40;
  margin-top: 2.75em;
  left: 0px;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  z-index: 10;
  color:white;
}
/* restyle elements */
a{
    color: #001050;
    cursor: pointer;
    text-decoration: none;
}
#footer a{
  color: #F2F2F2;
}
a:hover{
    color: #0070B0;
}
body{
  background-color: #E8E8E8;
  color: black;
  width: 100%;
  margin:0;
}
pre{
  margin: 0;
  white-space: pre-wrap;
}
/* basic classes */
.attention_box {
  border-radius: 5px;
  background-color: #f4bfbf;
  border: 1px solid #A01E1E;
}
.column {
  float: left;
  width: 25%;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.left-spaced{
    padding-left: 10px;
    display: inline-block;
}
@media only screen and (max-width: 50em){
  .left-spaced{
    padding-left: 0px;
    display: inline-block;
  }
}
.spacer{
  display: block; 
  height: 0.1em;
}
.spacer2{
  display: block; 
  height: 0.5em;
}
.content{
  max-width: 80em;
  min-width: 55%;
  padding: 10px 20px;
  left: 0px;
  margin-left: 0px;
  display: block;
  text-align: left;
}
.card {
  background: white;
  display: inline-block;
  padding: 5px 10px;
}
.code{
  background: #103040; 
  color: white; 
  padding: 10px 20px;
  font-size: 1.3em;
  text-align: left;
  border-radius: 0.5em;
}
.standalone-button{
  display:inline-block;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
}
.button1{
  background-color: #66cc7a;
  color: black;
  transition: all 0.5s;
}
.button1:hover{
  background-color: #007755;
  color:white;
}
.button1 a{
  color: inherit;
  text-decoration: none;
}
.button1 a:hover{
  color: inherit;
  text-decoration: none;
}
.button2{
  background-color: #CC7766;
  color: black;
  transition: all 0.5s;
}
.button2:hover{
  background-color: #884455;
  color:white;
}
.button2 a{
  color: inherit;
  text-decoration: none;
}
.button2 a:hover{
  color: inherit;
  text-decoration: none;
}
.button3{
  background-color: #77AADC;
  color: black;
  transition: all 0.5s;
}
.button3:hover{
  background-color: #554488;
  color:white;
}
.button3 a{
  color: inherit;
  text-decoration: none;
}
.button3 a:hover{
  color: inherit;
  text-decoration: none;
}
.button4{
  background-color: #cac55a;
  color: black;
  transition: all 0.5s;
}
.button4:hover{
  background-color: #7a750a;
  color:white;
}
.button4 a{
  color: inherit;
  text-decoration: none;
}
.button4 a:hover{
  color: inherit;
  text-decoration: none;
}
.card_header{
  font-size: 1.5em; 
  font-weight: bold;
}
.card_header_code{
  background-color: #BBDFFF;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 1.5em; 
  font-weight: 500;
}
.inline_code{
  background-color: #DEDEDE;
  border-radius: 4px;
  padding: 3px 5px;
  display: inline;
  font-size: 1.2em;
}
/* Index */
#showcase_background{
  background-color: #000A40;
  top: 2.75em;
  left: 0px;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 2em;
  z-index: 10;
  color:white;
}
#showcase_background h1{
  background-color: #F1F1F1;
  font-weight: bold;
  text-align: center;
  color: black;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
#showcase_background h2{
  background-color: #F1F1F1;
  font-weight: normal;
  text-align: center;
  color: black;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

